apiVersion: 1

datasources:
- name: prometheus
  type: prometheus
  access: proxy
  url: http://prometheus.service.consul:9090
  isDefault: true
  editable: true
- name: prometheus-kube
  type: prometheus
  access: proxy
  url: http://prom-prometheus-operator-prometheus-default.service.consul:9090
  isDefault: false
  editable: true